<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action = "/register" method = "POST">
    <label for = "user_id"> id:</label><br>
    <input id = "user_id" type = "text" name = "id" value=""><br>

    <label for = "user_pw"> password: </label><br>
    <input id = "user_pw" type = "password" name = "password" value = ""><br><br>
    <input type = "submit" name = "send" value = "login">
    <input type = "submit" name = "send" value = "sign up">
</form>

</body>
</html>